footer {
    padding-top:160px;
    background:#202020;
    @media (max-width:768px) {
        padding-top:250px;
    }
    .flexContainer {
        justify-content: space-between;
        padding-bottom:80px;
        @media (max-width:940px) {
            flex-wrap:wrap;
            padding:0 30px;
            justify-content: flex-start;
        }
    }
    .footer-footer {
        border-top:1px solid #363434;
        p, i {
            color: #949292;
        }
    }
}
.footerContainer {
    width:31%;
    @media (max-width:940px) {
        width:50%;
    }
    @media (max-width:490px) {
        width:100%;
        margin-top:20px;    
        padding-top:20px;
        border-top:1px solid #363434;
    }
    &:nth-of-type(2) {
        padding:0 30px;
    }
    h2 {
        color:white;
        font-family:$fontSecondary;
        font-weight:500;
        font-size:1.8rem;
    }
    p, a:not(.link-quote) {
        line-height: 2;
        color:#b1afaf;
    }
    p, li {
        line-height:2;
        &:first-of-type {
            padding-top:40px;
            @media (max-width:490px) {
                padding-top:10px;
            }
        }
    }
    ul {
        display:flex;
        flex-direction: column;
        li:first-of-type a {
            color:$accentColor;
        }
    }
    &:first-of-type {
        min-width:288px;
        @media (max-width:940px) {
            width:100%;
        }
    }

}

.footer-news {
    p:not(.footer-newsDate) {
        color:$accentColor;
        font-family:$fontSecondary;
        font-weight:400;
        font-size:1.5rem;
    }
    .footer-newsDate {
        color:#545454;
        margin-top:0;
        font-size:1.5rem;
    }
    div:first-of-type {
        padding-bottom:30px;
        border-bottom:1px solid #363434;
    }
}

.footer-footer .flexContainer {
    align-items: center;
    padding:30px 0;
    justify-content: space-between;
    .footer-footerSocial {
        display:flex;
        a:not(.fa-vine) {
            padding:0 10px;
        }
    }
}

.fa-arrow-right {
    color:white;
}

.link-quote {
    color:$accentColor;
    padding:30px 3%;
    font-family:$fontSecondary;
    font-size:1.5rem;
    &:hover {
        color:white;
    }
}

// Email Subscription

form {
    padding:60px 0;
    min-width:195px;
    @media (max-width:940px) {
        padding-top:20px;
    }
    p.email {
        color:$accentColor;
        font-family:$fontSecondary;
        font-size:1.5rem;
        font-weight:500;
    }
    input[type="email"] {
        background: #313030;
        border:none;
        padding:15px 15px;
        margin:30px 0;
        font-family:$fontMain;
    }
    .submit {
        background:$accentColor;
        border:none;
        color:white;
        padding:18px 40px;
        border-radius:23px;
        position:relative;
        left:-25px;
        font-family: FontAwesome;
        &:hover {
            background:darken($accentColor, 20);
        }
    }
}

