@mixin button($fontColor, $backgroundColor) {
    font-family: $fontMain;
    color: $fontColor;
    background: $backgroundColor;
    letter-spacing:0.45px;
    font-size:1.6rem;
    padding: 12px 20px;
	text-transform: capitalize;
	text-decoration: none;
    display: inline-block;
    transition:all 1s;
	&:hover {
		background: darken($backgroundColor, 20)
	}
}

@mixin headline($fontSize, $fontColor) {
    font-size: $fontSize;
    color: $fontColor;
    font-family: $fontHeader;
    line-height:80px;
    margin:0;
    font-weight:700;
}

@mixin headlineDivider($left,$top,$backgroundColor) {
    content:' ';
    width:80px;
    height:2px;
    display:block;
    position:absolute;
    left:$left;
    top:$top;
    background:$backgroundColor;
}