html {
    font-size:62.5%;
}

body {
    font-family: $fontMain;
    font-size:1.6rem;
    letter-spacing: 0.4px;
}

h1 {
    @include headline(7rem, white);
    @media (max-width: 940px) {
        font-size:5rem;
    }
    @media (max-width: 768px) {
        font-size:5rem;
        line-height:1.2;
    }
    @media (max-width:490px) {
        font-size:4rem;
    }
}

a {
    text-decoration: none;
    color: $grey;
    white-space: nowrap;
    display:inline-block;
}

p {
   line-height:2;
   color:$darkgrey;
}

ul {
    padding:0;
    margin:0;
    li {
        list-style:none;
        a {
            transition:all 0.5s;
            padding-bottom:2px;
        }
        &:hover a {
            color:darken($accentColor,30);
            transform:scale(1.2);
            @media (max-width:940px) {
                transform:scale(1);
                margin:0;
            }
        }
    }
}

.headline {
    @include headline(4.5rem, $darkgrey);
    line-height:1.5;
    @media (max-width: 940px) {
        font-size:4rem;
    }
    @media (max-width:490px) {
        font-size:3.5rem;
    }
}

.link-accent {
    color:$accentColor;
    font-family: $fontSecondary;
    padding:5px;
    transition:all 1s;
    &:hover {
        background:lighten($accentColor,20);
        color:white;
        padding-left:30px;
    }
}

