// COLORS
.accentColor {
    color: $accentColor;
}
.primaryColor {
    color: $primaryColor;
}
.secondaryColor {
    color: $secondaryColor;
}

html {
    font-size:62.5%;
}

body {
    font-family: $fontMain;
    font-size:1.6rem;
    letter-spacing: 0.4px;
}

h1 {
    @include headline(7rem, white);
}

a {
    text-decoration: none;
    color: $grey;
    white-space: nowrap;
    display:inline-block;
}

p {
   line-height:2;
   color:$darkgrey;
}

.headline {
    @include headline(4.5rem, $darkgrey);
    line-height:1.5;
}

