// COLORS
$accentColor: #2f87fd;
$grey: rgba(0, 0, 0, 0.7);
$darkgrey: rgba(39, 39, 39, 0.7);

// FONTS
$fontHeader: 'Playfair Display', serif;
$fontMain: 'Source Sans Pro', sans-serif;
$fontSecondary: 'Poppins', sans-serif;
