
@import "components/normalize";
@import "components/mixins";
@import "components/variables";
@import "components/typography";
@import "components/header";
@import "components/footer";

body {
    background:white;   
}

ul {
    margin:0;
    padding:0;
    li {
        list-style: none;
        display:inline-block;
    }
}

img {
    max-width:100%;
    align-self:center;
}

.wrapper {
    max-width:1170px;
    margin:0 auto;
    width:90%;
    @media (max-width: 940px) {
        width:90%;
    }
}

// Flex Containers

.flexContainer {
    display:flex;
}

.contactContainer {
    display:flex;
    justify-content: space-between;
    margin:0 10px;
    img {
        margin:0 15px;
    }
}

// General 1/3 Div Gallery

.main-gallery {
    display:flex;
    justify-content: space-between;
    @media (max-width:768px) {
        flex-direction: column;
    }
    .main-galleryThird {
        width:31%;
        margin:60px 0;
        @media (max-width:768px) {
            margin:20px 0;
            width:100%;
        }
    }
}

// MAIN

// About Us 
.main-about {
    margin:100px 0;
    background-image:url('../assets/ellipse-bg-top.png');
    background-repeat: no-repeat;
    background-position: top-left;
    .subHeadline {
        @include headline(2rem, $accentColor);
    }
    .flexContainer {
        @media (max-width: 940px) {
            flex-wrap: wrap;
            text-align:center;
        }
        .headline {
            line-height:1.2;
            padding-bottom:50px;
        }
    }
    .main-aboutDescription {
        flex:1 0 75%;
        padding-right:2%;
        p {
            line-height:2.5;
            color:$grey;
            padding-bottom:60px;
        }
    }
    .main-aboutOffer {
        flex:1 0 30%;
        background:#f6f6f6;
        padding:2%;
        border-right:1px solid $accentColor;
        @media (max-width: 940px) {
            margin-top:20px;
            border-right:none;
            background:lighten($darkgrey, 75);
            padding-bottom:20px;
        }
        .subHeadline {
            @include headline(2rem, $darkgrey);
        }
    }
}

// Services We Provide 
.main-services {
    background:#f4f4f4 url('../assets/ellipse-bg-btm.png');
    background-repeat:no-repeat;
    background-position: bottom right;
    text-align: center;
    padding:80px 0;
    @media (max-width:940px) {
        padding:40px 0;
    }
    .subHeadline {
        @include headline(2rem, $darkgrey);
        line-height:0;
        z-index:10;
        position:relative;
        left:50%;
        transform: translateX(-50%);
        &::after {
            content:'s';
            position:absolute;
            font-size:27.5rem;
            color:white;
            z-index:-1;
            left:50%;
            transform: translateX(-50%);
            top:10px;
        }
    }
    .headline {
        @include headline(5.5rem, $accentColor);
        padding-bottom:50px;
        position:relative;
        z-index:15;
        @media (max-width: 940px) {
            font-size:4rem;
        }
        @media (max-width:490px) {
            font-size:3.5rem;
        }
        &:after {
            @include headlineDivider(50%,90px,$accentColor);
            transform: translateX(-50%);
            z-index:2;
        }
    }
    .main-gallery {
        flex-wrap:wrap;
        @media (max-width:768px) {
            flex-direction:column;
        }
        .main-galleryThird {
            // width:30%;
            padding:0 2%;
            text-align: center;
            background:white;
            margin-bottom:20px;
            img {
                padding:30px 0;
                @media (max-width:768px) {
                    padding-bottom:0;
                }
            }
            @media (max-width: 940px) {
                flex-basis:45%;
                flex-wrap:wrap;
                justify-content: space-around;
            }
            @media (max-width:768px) {
                width:100%;
            }
            div {
                min-height:228px;
                @media (max-width:768px) {
                    min-height:150px;
                }
            }
        }
    }
}

// Why Choose Us
.main-why {
    padding:150px 0;
    @media (max-width:940px) {
        padding:50px 0;
    }
    .main-whyReason {
        display:flex;
        padding-bottom:50px;
        @media (max-width:940px) {
            flex-direction:column-reverse;
            text-align: center;
        }
        .main-whyReason-why {
            flex:1 0 60%;
            padding-right:3%;
        }
        .main-whyImg {
            flex:1 0 40%;
        }
    }
    .main-gallery {
        flex-wrap: wrap;
        justify-content: space-around;
        display:flex;
        @media (max-width:768px) {
            flex-direction:column;
        }
    }
}

.main-whyReason-why {
    .headline {
        @include headline(4.6rem,$darkgrey);
        padding-bottom:20px;
        @media (max-width: 940px) {
            font-size:3rem;
            padding:20px 0 0;
        }
    }
    .headline-caption {
        font-family:$fontSecondary;
        color:$accentColor;
        font-size:1.8rem;
        font-weight:500;
        position:relative;
        &:after {
            @include headlineDivider(0,-10px, $accentColor);
            @media (max-width:940px) {
                left:50%;
                transform: translateX(-50%);
            }
        }
    }
}

.main-why {
    .main-galleryThird {
        padding:2%;
        background:rgba(228, 228, 228, 0);
        border:1px solid #eeeeee;
        transition:all 0.5s;

        @media (max-width:768px) {
            width:100%;
            text-align:center;
            padding:20px 0;
            margin:20px 0;
        }
        &:hover {
            border-left:1px solid $accentColor;
        }
        .galleryContainer {
            display:flex;
            align-items:center;
            min-height:90px;
            h2 {
                font-size:1.8rem;
                padding:1% 3%;
            } 
            @media (max-width:768px) {
                justify-content: center;
                min-height:50px;
            }
        }
    }
}

// Main Stats 
.main-stats {
    background:#1f2329;
    display:flex;
    @media (max-width:768px) {
        flex-direction:column;
        text-align:center;
    }
    h2 {
       color:white;
       font-size:2rem;
       letter-spacing:0.55px;
       font-weight:400;
    }
    h3 {
        font-family:$fontSecondary;
        color:$accentColor;
        font-weight:700;
        font-size:4.4rem;
        margin-bottom:20px;
        @media (max-width:768px) {
            margin-top:0;
        }
    }
    div {
        flex:1 0 25%;
        padding:50px 3%;
        @media (max-width:768px) {
            padding:20px 0 10px;
            border-bottom:2px solid #313f51;   
        }
        &:not(last-of-type) {
            border-right:2px solid #313f51;
        }
    } 
    .main-statsHeadline {
        border:none;
        max-height:90px;
        padding:0;
    }
}

// Projects We've Done
.main-projects,
.main-news {
    padding: 120px 0;
    text-align:center;
    @media (max-width:940px) {
        padding:50px 0;
    }
    .subHeadline {
        @include headline(2rem, $darkgrey);
        z-index:10;
        position:relative;
        line-height:20px;
        &::after {
            content:'P';
            color: #f6f3f3;
            position:absolute;
            font-size:26rem;
            z-index:-1;
            left:50%;
            transform: translateX(-50%);
            top:60px;
        }
    }
    .headline {
        @include headline(5.5rem, $accentColor);
        padding-bottom:50px;
        position:relative;
        z-index:15;
        @media (max-width: 940px) {
            font-size:4rem;
        }
        @media (max-width:490px) {
            font-size:3.5rem;
        }
        &:after {
            @include headlineDivider(50%,90px, $accentColor);
            transform: translateX(-50%);
            z-index:2;
        }
    }
    .main-caption {
        display:flex;
        text-align: left;
        padding:25px 0;
        div:first-child {
            flex:1 0 70%;
        }
        div:last-child {
            flex:1 0 30%;
            text-align: right;
            @media (max-width:940px) {
                text-align: center;
            }
        }
        @media (max-width:940px) {
            flex-direction:column;
            text-align: center;
        }
        p {
            font-size:2rem;
            margin:0;
        }
        a {
            &:hover {
                background:lighten($accentColor,20);
                color:white;
                padding-right:30px;
            }
        }
    }
}

// Reviews {

.main-reviews {
    width:100%;
    background:$accentColor;
    color:white;
    text-align: center;
    padding:5% 0;
    p {
        font-size:1.9rem;
        color:white;
        padding-left:30px;
        @media (max-width:940px) {
            font-size:1.8rem;
            line-height:1.5;
            padding:0;
        }
    }
    .reviewer {
        position:relative;
        padding:50px 0 0;
        margin-bottom:0;
        @media (max-width:940px) {
        padding-top:30px;
        }
        &:after {
            @include headlineDivider(50%,30px,white);
            transform: translateX(-50%);
            @media (max-width:940px) {
                top:0;
            }
        }
    }
    .reviewer-title {
        font-size:1.6rem;
        margin:0;
        line-height:1.2;
        padding:0;
    }
    .reviews-img {
        flex:1 0 40%;
    }
    .main-reviewsCarousel {
        flex:1 0 60%;
    }
    .flexContainer {
        @media (max-width:940px) {
            flex-direction:column;
        }
    }
}

// News from Our Blog 
.main-news {
    .main-gallery {
        display:flex;
        @media (max-width:940px) {
            flex-direction:column;
        }
    }
    .subHeadline:after {
        content:'B';
    }
    .main-galleryThird {
        @media (max-width:940px) {
            width:100%;
            margin:20px 0;
        }
    }
    .galleryCaption {
        text-align: left;
        padding:0;
        margin:0;
        @media (max-width:940px) {
            text-align: center;
        }
        h2 {
            font-family: $fontSecondary;
            font-weight:600;
            font-size:1.75rem;
            color:$accentColor;
        }
        .date {
            color: $accentColor;
        }
    }
}

// Main Parters 
.main-partners {
    background:$accentColor;
    .flexContainer { 
        justify-content: space-between;
        @media (max-width:768px) {
            padding:60px 15px;
            flex-wrap:wrap;
        }
        div {
            padding:80px 20px;
            @media (max-width:768px) {
                padding:20px;
                margin:0 auto;
            }
        }
    }
}

// Contact Info
.main-contact {
    position:relative;
    .main-contact-contact {
        display:flex;
        width:100%;
        justify-content: space-between;
        position:absolute;
        top:-50px;
        left:50%;
        transform: translateX(-50%);
        box-shadow: 0px 32px 0px -13px rgba(66,65,65,1);
        background:#313030;
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
        .contactContainer {
            margin:10px 40px;
            align-items: center;
            p {
                color:white;
                font-size:1.5rem;
            }
        }
    }
}

// Buttons
.btn-accent {
    @include button(white,$accentColor);
}

.btn-accentMenu {
    @include button(white,$accentColor);
    display:none;
    @media (max-width:940px) {
        display:inline-block;
    }
}

.btn-accentInverted {
    @include button($accentColor,white);
    border:1px solid $accentColor;
    text-transform: uppercase;
    align-self: center;
    @media (max-width:940px) {
        display:none;
    }
}
